h3 {
  color: white;
}
.root {
  padding: 5px 30px 10px;
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  /* max-width: 400px;
  margin: 100px auto;
  border-radius: 10px;
  padding: 10px 30px; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.post__btn {
  display: block;
  color: white;
  background-color: #43afff;
  padding: 6px 30px;
  border: 1px solid #43afff;
  border-radius: 5px;
}
