.container {
  background: #1a253c;
  padding: 5px 30px 10px;
}
.navbar {
  display: flex;
  background: #1a253c;
  padding: 10px 0;
  color: white;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid #4d618e;
}
.logo {
  color: white;
  flex-grow: 1;
}
.logo__link {
  margin: 0;
  text-decoration: none;
  color: inherit;
  font-size: 28px;
  font-weight: 500;
}
.logo__text {
  color: #43afff;
}
.logo__link:hover {
  color: inherit;
}

.primary_text {
  padding: 10px;
  color: white;
  text-decoration: none;
}
